* {
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono', monospace;
}

body {
    background-color: #200D27;
    color: #38CEE6;
}

.container {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}

.header {
    font-size: 2em;
    font-weight: bold;
    padding: 10px;
    text-align: center;

}

.navbar {
    margin: 0 auto 20px;
    width: 50%;
}

ul, li {
    list-style-type: none;
}

ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}

a {
    color: #3A62D3;
}

.card {
    margin: 25px auto 0;
    width: 50%;
}

.bold {
    font-weight: bold;
}

p {
    margin-bottom: 10px;
}

.centered {
    align-items: center;
    justify-content: center;
    text-align: center;
}

hr {
    border: 2px solid #974587;
    margin: 20px auto;
    width: 25%
}

.album {
    display: flex;
    align-items: center;
    justify-content: center;
}

.albumart {
    height: 100px;
}

.info {
    align-items: center;
    vertical-align: top;
    padding: 10px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
    width: 50%;
}

.icon {
    height: 25px;
    margin: 0 10px;
}